* {
  box-sizing: border-box;
}
body {
  font-family:'Yellowtail', cursive;
  color: #f16971;
  margin: 0;
  text-align: center;
  background-color: lightpink;
  background-image: url(../Images/backgroundImg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
header nav ul li {
  padding: 20px;
  display: inline-block;
  border-radius: 50%;
}
h1 {
  font-size: 30px;
  font-weight: bold;
  padding: 40px;
}
article .pat {
  width: 150px;
  height: 150px;
  border: solid 1px;
  border-radius: 10px;
}
main p {
  text-align: center;
  padding-left: 25%;
  padding-top: 40px;
  height: auto;
  width: 75%;
  font-size: 20px;
}
#foot {
  background-color: #333333;
  text-align: center;
  padding: 10px;
  color: #aaaaaa;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}
#foot ul{
padding:0;
}
footer nav ul li a {
  text-decoration: none;
  color: #aaaaaa;
}
ul {
  list-style-position: outside;
  padding-left: 560px;
  padding-top: 15px;
}
ol {
  list-style: decimal;
  padding-left: 30px;
  list-style-position: outside;
}
table {
  
  position: absolute;
  top: 180px;
  left: 715px;
  align-items: center;
}
b {
  font-weight: 800;
}

#fish {
  color: #f16971;
  padding: 25px;
  padding-top: 30px;
  padding-left: 600px;
}

legend {
  padding: 10px;
}
/*----------------------------------nice-style--------------------*/
tr,th,td {
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}
td,tr:last-child{
  background-color: #fae7e3;
  color: #f16971;
}

 td:first-child,tr:first-child,tr:last-child th:first-child{
  background-color: #f16971;
  color:#fae7e3;
}
td:first-child:hover,tr:first-child th:hover,tr:last-child th:first-child:hover{
  background-color: #fae7e3;
  color: #f16971;
}
td:hover,tr:last-child th:hover{
  background-color: #f16971;
  color: #fae7e3;
}
#head ul{
  padding-left: 30px;
}
#head ul li a{
  font-size:30px;
}
header ul li a{
color:#f16971 ;
font-weight: 1000;
font-size: 20px;
text-decoration: none;
}
#cookieStand{
  border-radius: 5px; 
}
input {
  background-color: #fdf2ed;
  color:#f16971;
  font-family: 'Yellowtail', cursive;;
}
 article h2{
   padding-top: 300px;
  clear:both;
  text-align:right;
  padding-right: 30px;
  font-weight: bold;
  font-size: 20px;
}
article p{
  padding-right: 30px;
  text-align:right;
  padding-top:5px;
  width:100%;
}
#body {
  background-color: lightpink;
  background-image: url(../Images/indexBackground.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
