*{
    box-sizing: border-box;
}
body {
    font-family:'Times New Roman', Times, serif;
    color: #000000;
    margin: 0;
    text-align: center;
}
header nav{
    font-size: 25px;
    font-weight:500;    
    text-align: center;
    background-color:#333333;
}
header nav ul li{
    padding:20px;
    display: inline-block;
    border-radius:50%;
}
header nav ul li a{
    text-decoration:none;
    color: #aaaaaa;
}
h1 {
    font-size: 30px;
    font-weight:bold;
    padding: 40px;
}
article .pat{
    width: 200px;
    height: 250px;
    border: solid 1px ;
    border-radius: 10px;
}
main p {  
    text-align: center;
    padding-left: 25%;
    padding-top: 20px;
    height: auto;
    width: 75%;
}
footer  {
    background-color: #333333;
    text-align: center;
    padding: 15px;
    color: #aaaaaa;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer nav ul li a{
    text-decoration:none;
    color: #aaaaaa;
}
ul{
    list-style-position: outside;
    padding-left: 10px;
}
ol{
    list-style: decimal;
    padding-left: 30px;
    list-style-position: outside;
    
}
tr,th,td{
    border: black 1px solid;
    padding: 5px;
    text-align: center;
}
table {
    background-color: #eeeeee;
    color: #333333;
    border: black 1px  solid ;
    position:absolute;
    top:120px;
    left:450px;
    align-items: center;
}
b{font-weight:800;}

